@charset "EUC-KR";
:root {
	--base-text-color: #333;
	--base-bg-color: #f1f1f1;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font:16px/1.6 "Noto Sans Kr", sans-serif;
	color: var(--base-text-color);
}

ul {
	list-style: none;
}

.d-none {
	display: none;
}

a, a:link {
	text-decoration: none;
	color: var(--base-text-color);
}
/*=======================bxslider style custom==============*/
.bx-wrapper {
	border: 0;
	margin-top: 60px;
}

.bx-wrapper .bx-prev {
    left: 10px;
    background: url('../images/custom.png') 0 -32px no-repeat;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url('../images/custom.png') -43px -32px no-repeat;
}


/* ================header================= */

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw; /* 100%와 같은 비율, 공간을 100개로 조각낸 비율 */
	z-index: 10000;
	background: white;
}


.header-wrap {
	max-width: 90%;
	height: 60px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}




#gnb, .items {
	display: flex;
	column-gap: 1rem;
}

/*#imgs img {
	position: absolute;
}*/

/* ================= recommend ===================== */
.recommend {
	max-width: 1280px;
	margin: 0 auto;
}
.reco_title {
	font-weight: 900;
	text-align: center;
	margin: 1.5em 0 1.2em 0;
}

.reco-list {
	display: flex;
	column-gap: 1em;
}

.reco-list li {
	width: calc(100% / 6);
}

.reco-list img {
	width: 213px;
}

.desc {
	margin: 1em 0;
	font-size: .875em;
}



.price {
	color: #ff4040;
	font-size: .720em;
}

/*===================promotion=========================*/
 
 .promotion {
 	max-width: 1280px;
 	margin: 2em auto;
 	overflow: hidden;
 }
 .event-banner {
 	margin-bottom: 1em;
 }
 .promotion-list {
 	display: flex;
 	column-gap: 1em;
 }
 
 .promotion-list img {
 	object-fit: cover;
 	max-width: 100%;
 	transition: all 1s ease-in-out
 }
 
 .promotion-list li {
 	overflow: hidden;
 }
 
 
 .promotion-list li:hover img {
 	transform: scale(1.05, 1.05);
 }
 
 /*================= special ===========*/
 
 .special-title-bg {
 	background: #f0f0f0;
 	
 }
 
 
 .special-title {
 	max-width: 1280px;
 	height: 72px;
 	margin: 0 auto;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 }
 
 .special-title p::before {
 	content: '';
 	display: inline-block;
 	width:172px;
 	height:32px;
 	margin-right: 1rem;
 	background: url("../images/logo_myiloomlf.svg") no-repeat center / cover;
 }
 
 .special-title a {
 	margin-left: 5em;
 
 
 }
 .special-list {
 	max-width: 1280px;
 	margin: 100px auto 50px;
 	display: grid;
 	grid-template-columns: repeat(4,1fr); 		/*fraction: 전체 공간의 합을 비율로 표현*/
	column-gap: 1rem;
 }
 
 
  .special-list img {
  	max-width: 100%
  }
  
  .attach-img {
  border-radius: 20px;
  overflow: hidden;
  }
  
  .attach-img {
  	height: 300px;
  	border-radius: 20px;
  	overflow: hidden;
  }
  
  
  .rank-point {
  	color: #b00000;
  	font-size: 1.250em;
  	letter-spacing: 3px;
  	margin : .5em 0;  /*em : 엠~ , rem : 램 알엠*/
  	
  }
  
  .write-title {
  	font-size: 1.250em;
  	font-weight: 800; 	/* 100~900 (단위 없음), thin/bold/bolder*/
  }
  
  .write-body {
  	font-size: .875em;
  	text-overflow: ellipsis; /* 넘치면, 단축하기? ...처리! */
  	overflow: hidden;
   	word-break: break-word;

   	display: -webkit-box; 	/* vender prefix : 표준 속성이 아닐때, 다른 브라우저가 지원할 수 있는 접두어*/
   	-webkit-line-clamp: 2; 	/* 원하는 라인수 */
   	-webkit-box-orient: vertical;
  }
  
  .relate-item {
  	display: flex;
  	justify-content: space-between;
  }
  /*.relate-item::before {
  	content: '';
  	border-top: 1px dashed red;
  	width: 100%;
  
  }*/
  
  .item-image {
  	border-radius: 50%;
  	width: 100px;
  	height: 100px;
  	overflow: hidden;
  }
  
  .like-item::after {
  	content: '';
  	color: red;
  	display: inline-block; 
  	width: 16px;
	height: 16px;
  	background: url("../images/icn_likeHrt.svg");
  }
  
  .item-title {
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	width: 5em;
  	overflow: hidden;
  	font-weight: bold;
  }	
  
  .item-location, .item-price {
  	font-size: .725em;
  	color: gray;
  }	
  	/*================== aside =======================*/
  aside {
  	background: #e0e0e0;
  	}
  
  .sns{
  	max-width: 1280px;
  	margin: 0 auto;
  }
  
  .sns p {
  	text-align: center;
  }
  
  .sns p:nth-child(1) {
  	font-size: 1.750em;
  	text-transform: uppercase;
  	margin: 1em 0;
  }
  .sns p:nth-child(2) {
  	font-size: 1.250em;
  	
  }
  
  .sns-posts {
  	display: flex;
  
  }
  
  .sns-posts img {
	width: 200px;
}
  
  