@charset "EUC-KR";
:root {
	--base-text-color: #333;
	--base-bg-color: #f1f1f1;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font:16px/1.6 "Noto Sans Kr", sans-serif;
	color: var(--base-text-color);
}

ul {
	list-style: none;
}

.d-none {
	display: none;
}

a, a:link {
	text-decoration: none;
	color: var(--base-text-color);
}
/*=======================bxslider style custom==============*/
.bx-wrapper {
	border: 0;
	margin-top: 60px;
}

.bx-wrapper .bx-prev {
    left: 10px;
    background: url('../images/custom.png') 0 -32px no-repeat;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url('../images/custom.png') -43px -32px no-repeat;
}


/* ================header================= */

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw; /* 100%�� 媛��� 鍮���, 怨듦��� 100媛�濡� 議곌��� 鍮��� */
	z-index: 10000;
	background: white;
}


.header-wrap {
	max-width: 90%;
	height: 60px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}




#gnb, .items {
	display: flex;
	column-gap: 1rem;
}

/*#imgs img {
	position: absolute;
}*/

/* ================= recommend ===================== */
.recommend {
	max-width: 1280px;
	margin: 0 auto;
}
.reco_title {
	font-weight: 900;
	text-align: center;
	margin: 1.5em 0 1.2em 0;
}

.reco-list {
	display: flex;
	column-gap: 1em;
}

.reco-list li {
	width: calc(100% / 6);
}

.reco-list img {
	width: 213px;
}

.desc {
	margin: 1em 0;
	font-size: .875em;
}



.price {
	color: #ff4040;
	font-size: .720em;
}

/*===================promotion=========================*/
 
 .promotion {
 	max-width: 1280px;
 	margin: 2em auto;
 	overflow: hidden;
 }
 .event-banner {
 	margin-bottom: 1em;
 }
 .promotion-list {
 	display: flex;
 	column-gap: 1em;
 }
 
 .promotion-list img {
 	object-fit: cover;
 	max-width: 100%;
 	transition: all 1s ease-in-out
 }
 
 .promotion-list li {
 	overflow: hidden;
 }
 
 
 .promotion-list li:hover img {
 	transform: scale(1.05, 1.05);
 }
 
 /*================= special ===========*/
 
 .special-title-bg {
 	background: #f0f0f0;
 	
 }
 
 
 .special-title {
 	max-width: 1280px;
 	height: 72px;
 	margin: 0 auto;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 }
 
 .special-title p::before {
 	content: '';
 	display: inline-block;
 	width:172px;
 	height:32px;
 	margin-right: 1rem;
 	background: url("../images/logo_myiloomlf.svg") no-repeat center / cover;
 }
 
 .special-title a {
 	margin-left: 5em;
 
 
 }
 .special-list {
 	max-width: 1280px;
 	margin: 100px auto 50px;
 	display: grid;
 	grid-template-columns: repeat(4,1fr); 		/*fraction: ��泥� 怨듦��� �⑹�� 鍮��⑤� ����*/
	column-gap: 1rem;
 }
 
 
  .special-list img {
  	max-width: 100%
  }
  
  .attach-img {
  border-radius: 20px;
  overflow: hidden;
  }
  
  .attach-img {
  	height: 300px;
  	border-radius: 20px;
  	overflow: hidden;
  }
  
  
  .rank-point {
  	color: #b00000;
  	font-size: 1.250em;
  	letter-spacing: 3px;
  	margin : .5em 0;  /*em : ��~ , rem : �� ����*/
  	
  }
  
  .write-title {
  	font-size: 1.250em;
  	font-weight: 800; 	/* 100~900 (�⑥�� ����), thin/bold/bolder*/
  }
  
  .write-body {
  	font-size: .875em;
  	text-overflow: ellipsis; /* ��移�硫�, �⑥���湲�? ...泥�由�! */
  	overflow: hidden;
   	word-break: break-word;

   	display: -webkit-box; 	/* vender prefix : ��以� ���깆�� ������, �ㅻⅨ 釉��쇱�곗��媛� 吏����� �� ���� ������*/
   	-webkit-line-clamp: 2; 	/* ������ �쇱�몄�� */
   	-webkit-box-orient: vertical;
  }
  
  .relate-item {
  	display: flex;
  	justify-content: space-between;
  }
  /*.relate-item::before {
  	content: '';
  	border-top: 1px dashed red;
  	width: 100%;
  
  }*/
  
  .item-image {
  	border-radius: 50%;
  	width: 100px;
  	height: 100px;
  	overflow: hidden;
  }
  
  .like-item::after {
  	content: '';
  	color: red;
  	display: inline-block; 
  	width: 16px;
	height: 16px;
  	background: url("../images/icn_likeHrt.svg");
  }
  
  .item-title {
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	width: 5em;
  	overflow: hidden;
  	font-weight: bold;
  }	
  
  .item-location, .item-price {
  	font-size: .725em;
  	color: gray;
  }	
  	/*================== aside =======================*/

  
  .sns{
  	max-width: 1280px;
  	margin: 0 auto;
  	background: #e0e0e0;
  }
  
  .sns p {
  	text-align: center;
  }
  
  .sns p:nth-child(1) {
  	font-size: 1.750em;
  	text-transform: uppercase;
  	margin: 1em 0;
  }
  .sns p:nth-child(2) {
  	font-size: 1.250em;
  	
  }
  
  .sns-posts {
  	display: flex;
  
  }
  
  .sns-posts img {
	width: 280px;
	max-width: 100%
}
  
  .sns-wrap img {
  	height: 280px;
  	overflow: hidden;
  	border-style: none;
  }
  
  .quick-menu {
  	max-width: 1280px;
  	margin: 0 auto;
  }
  
  .quick-title {
  	text-align: center;
  	font-size: 1.750em;
  	text-transform: uppercase;
  	margin: 1em 0;
  }
  
  .quick-list {
	display: flex;
	justify-content:space-between;
	max-width: 800px;
	margin: 0px auto;
	overflow: hidden;
	text-align: center;
	font-size: 0px;
}
  
  .quick-wrap > div:hover .overlay{
	opacity: 1;
	/*animation: apper .8s ease-in-out;	/* transition : 트랜지션 (처음-끝 css 값을 결정하면 중간 css 상태를 자동으로 작성)*/
}
  .overlay {
	opacity: 0;
	transition: opacity .4s cubic-bezier(.12,.9,.87,.09); /* css 속성의 차이를 자동으로 (중간과정을) 생성하는 일종의 애니메이션 */
	position: absolute;	
}

  .some-title{
  	font-size: 15px;
  	padding: 30px;
  	line-height: 140%;
  	padding-top: 24px;
  	display: inline-block;
  }
  
  .notice {
  	display: block;
    width: 800px;
    text-align: center;
    padding-bottom: 60px;
    margin: 0 auto;
}

  .notice-title{
  	font-size: 1.750em;
  	text-transform: uppercase;
  	margin: 1em 0; 
  }
  
  .notice-list{
  	display: inline-flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
	}
  
  
  .notice-list li{
  	display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -1.44px;
  }
  
  .notice-more {
  	width: 240px;
    height: 50px;
    border: 1px solid #aaa;
    margin-top: 60px;
    color: #333333;
    background-color: #fff;
    font-weight: 300;
  }
  
  /*==============================footer========================*/
  
   footer {
  	background: #e0e0e0;
  	width: 100%;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background-color: #f0f0f0;
    border: none;
    margin-top: 120px;
    margin: 0 0 10px 0;
    z-index: 10;
    width: fit-content;
  	
  	}
  
  .footer-wrap {
  	width: 1200px;
    padding: 55px 20px 20px;
    margin: 0px auto;
  }
  
  .site {
  overflow: hidden;
  }
  
  .site-nav {
  	width: 240px;
    margin-right: 0px;
    float: left;
  }
  
  .site-links{
  	float: left;
    margin-right: 120px;
  }
  
   .snb-c{
   	float: left;
    margin-right: 120px;
   }
 
  
  
  .snb-a {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
  
  }
  
  .snb-b {
  	margin-bottom: 14px;
  	font-size: 12px;
  }
  
  .site-info{
  	display: flex;
    width: 330px;
  }
  
  .info-title{
	font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
  }
  
  .info-list{
  	    width: 220px;
  
  
  }
  .info-btn{
    position: relative;
    display: inline-block;
    padding: 8px 12px 8px 36px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 2px;
    border: solid 1px #aaa;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
  	padding: 5px 36px 5px 16px;
  	display: inline-block;
  }
  
  
  .weekday{
  font-size: 13px;
  }
  .weekend{
  font-size: 13px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  